body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
    color: #454545;
}

a.toggle {
    text-align: center;
    text-decoration: none;
    border-bottom: 1px dashed;
}

#page {
    width: 800px;
    margin: 20px auto 0 auto;
}

h1 {
    font-size: 18px;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #222;
    color: #222;
}

form {
    display: table;/* shrinks to fit content */
    margin: auto;
    text-align: center;
    padding: 10px;
}

.standard input[type="submit"] {
    display: inline;
}

input, label {
    display: block;
    margin: 5px 3px;
}

input[type="text"], input[type="password"] {
    width: 133px;
}

input[readonly="readonly"] {
    background-color: #E9E9E9;
}

p.error {
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #D8000C;
    color: #D8000C;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 0 5px;
    display: inline;
}

table.info {
	border: 1px solid #666;
	border-collapse: collapse;
}

table.info td {
	border: 1px solid #666;
	padding: 8px;
	background-color: #FFF;
}

.center {
    text-align: center;
}

.field_container {
    clear: both;
}

.standard label {
    width: 80px;
}

.label {
    float: left;
    text-align: right;
}

.field {
    float: left;
}

#join {
    width: 273px;
    height: 200px;
    overflow: auto;
    margin: 0 auto;
}

#chat {
    width: 800px;
    height: 350px;
    overflow: auto;
    margin: 0 auto;
}

#message {
    width: 600px;
}

.alighleft {
    margin: 0;
    float: left;
}

.alighright {
    margin: 0;
    float: right;
}